<<<<<<< HEAD
html,body
{
    margin: auto;
    padding: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    width: 100%;
    height: 100%;
    background:url('../bg.png') no-repeat center center fixed;
    background-size:cover;
}

@font-face
{
    font-family:pixel;
    src: url('../pixel.ttf');
}

.d-block
{
    margin-top: 15px;
}

.form-group
{
    font-family: pixel;
    margin: auto;
    margin-top: 20px;
    width:50%;
}

.login-btn
{
    margin-left: 50%;
    height: 5px;
    width: 10px;
}

.btn-primary
{
    background: url('../login.png') no-repeat;
    margin-top: 15px;
    background-size: cover;
    height: 60px;
    width: 170px;
}

#pw
{
    margin-top: 20px;
}

.form-control
{
   opacity: 0.3;
=======
html, body {
    margin: auto;
    width: 100%;
    height: 100%;
    background: url('../bg2.png') no-repeat center center fixed;
    background-size: cover;

}

#dataJogo {
    background-color: transparent;
    font-size: 2em;
    color: #80bdff;
}

#nomeCampeonato {
    background-color: transparent;
    font-size: 2em;
    color: #80bdff;

}

#localJogos {
    background-color: transparent;
    font-size: 2em;
    color: #80bdff;
}

#addTimeCasa {
    background-color: transparent;
    font-size: 2em;
    color: #80bdff;
}

#addTimeAdversario {
    background-color: transparent;
    font-size: 2em;
    color: #80bdff;
}

input {
    color: #cce5ff;
}
/*cor de efeito arco-iris que fica brilhando*/
.rainbow {
    -webkit-animation: rainbow 5s infinite;
    -ms-animation: rainbow 5s infinite;
    animation: rainbow 5s infinite;

}

@-webkit-keyframes rainbow {
    20% {
        color: red;
    }
    40% {
        color: yellow;
    }
    60% {
        color: green;
    }
    80% {
        color: blue;
    }
    100% {
        color: orange;
    }
}

@-ms-keyframes rainbow {
    20% {
        color: red;
    }
    40% {
        color: yellow;
    }
    60% {
        color: green;
    }
    80% {
        color: blue;
    }
    100% {
        color: orange;
    }
}

@keyframes rainbow {
    20% {
        color: red;
    }
    40% {
        color: yellow;
    }
    60% {
        color: green;
    }
    80% {
        color: blue;
    }
    100% {
        color: orange;
    }
}

h2 {
    margin-left: 25%;
    font-size: 4em;
    font-family: unbody,sans-serif;

}

p {
    color: mediumpurple;
    font-size: 2em;
}

.radio-inline {
    color: lawngreen;
    font-size: 2em;
}

@font-face {
    font-family: unbody;
    src: url('../pixel.ttf');
}

.container{
    font-family: unbody,sans-serif;
    color: whitesmoke;
}

.button[name='but1']{
   font-family: unbody;
}

.buttton[name='but2']{
    font-family: unbody;
    font-size: 1.5em;
    background: darkolivegreen;
>>>>>>> 2d69eb1f391e0d910df805bb99a973938eb774d8
}

